<a href="https://colab.research.google.com/github/viviovilala/ISCOM-2025-Data-ML-/blob/main/Dasar%20Pemrograman%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## INTRO GOOGLE COLABS

In [ ]:
#Tanda `#` digunakan untuk membuat komentar. Baris ini tidak akan dieksekusi.
#Gunakan komentar untuk memberi keterangan dalam baris kode yang kamu buat

print("HELLO ISCOM BUDDIES") #kode pertama untuk menampilkan kalimat

HELLO ISCOM BUDDIES

Ini adalah contoh blok text.
Kita dapat memasukkan catatan, keterangan, membuat judul section dengan menggunakan blok text ini.

## DASAR PEMROGRAMAN PYTHON

### Variabel dan Tipe Data

In [ ]:
usia = 20
print(usia)
print("Mengubah nilai variabel usia")
usia = 25
print(usia)

20
Mengubah nilai variabel usia
25

In [ ]:
name = "Nabila"
age = 16
weight = 45.5
hobbies = ["Reading", "Watching Movies", "Cooking"]
favorite_foods = {"food": "Chicken Noodles", "drink": "Iced Tea"}
contacts = {"08123456789", "08129876543"}
status = None #menyimpan nilai kosong atau tidak ada nilai sama sekali (missing value)

In [ ]:
# INTEGER (bilangan bulat untuk menghitung sesuatu)
usia = 21
jumlah_buku = 57
kecepatan_mobil = 80

print("- INTEGER -")
print("Usia saya:", usia, "tahun")
print("Jumlah buku di rak:", jumlah_buku)
print("Kecepatan mobil di tol:", kecepatan_mobil, "km/jam")
print("Tipe data:", type(usia))
print("\n")

# FLOAT (bilangan desimal untuk ukuran yang lebih )
berat_badan = 55.6
panjang_meja = 1.75

print("- FLOAT -")
print("Berat badan saya:", berat_badan, "kg")
print("Panjang meja belajar:", panjang_meja, "meter")
print("Tipe data:", type(berat_badan))
print("\n")

# STRING (kumpulan karakter, bisa kata atau kalimat)
nama = "Nabila"
alamat = "Jl. Wiguna I No. 5, Surabaya"
pesan = "Belajar phyton itu asik!"

print("- STRING -")
print("Nama lengkap:", nama)
print("Alamat rumah:", alamat)
print("Pesan motivasi:", pesan)
print("Panjang pesan:", len(pesan), "karakter")
print("Tipe data:", type(nama))
print("\n")

# BOOLEAN (bernilai True atau False)
sedang_hujan = True
sudah_sarapan = False

print("- BOOLEAN -")
print("Apakah sedang hujan?", sedang_hujan)
print("Apakah sudah sarapan?", sudah_sarapan)
print("Tipe data:", type(sedang_hujan))
print("\n")

# LIST (kumpulan data yang bisa diubah (mutable), bisa campuran tipe data)
makanan_favorit = ["Nasi Goreng", "Sate Ayam", "Bakso"]
angka_acak = [3, 8, 1, 7, 2]
campuran = [25, "Laptop", 3.14, True]

print("- LIST -")
print("Makanan favorit saya:", makanan_favorit)
print("Angka sebelum diurutkan:", angka_acak)
angka_acak.sort()
print("Angka setelah diurutkan:", angka_acak)
makanan_favorit.append("Mie Ayam")
print("List makanan setelah ditambah:", makanan_favorit)
print("Tipe data:", type(makanan_favorit))
print("\n")

# TUPLE (kumpulan data yang tidak bisa diubah (immutable))
warna_pakaian = ("Hitam", "Putih", "Abu-abu")
tanggal_lahir = (15, "Juli", 2002)

print("- TUPLE -")
print("Pilihan warna pakaian saya:", warna_pakaian)
print("Tanggal lahir:", tanggal_lahir)
print("Warna favorit saya:", warna_pakaian[0])  # mengakses elemen pertama
# warna_pakaian.append("Biru")  # Ini akan error karena tuple tidak bisa diubah
print("Tipe data:", type(warna_pakaian))
print("\n")

# SET (himpunan data unik tanpa urutan)
angka_acak_set = {5, 1, 3, 8, 3, 5, 7}
hobi = {"Membaca", "Olahraga", "Memasak", "Membaca"}  # Elemen duplikat otomatis terhapus

print("- SET -")
print("Angka unik dalam set:", angka_acak_set)
print("Hobi yang saya miliki:", hobi)
angka_acak_set.add(10)
print("Set angka setelah ditambah:", angka_acak_set)
print("Tipe data:", type(angka_acak_set))
print("\n")

# DICTIONARY (data berbentuk pasangan key-value)
data_diri = {
    "nama": "Nabila",
    "usia": 19,
    "pekerjaan": "Mahasiswa",
    "hobi": ["Belajar", "Olahraga"]
}

print("- DICTIONARY -")
print("Profil saya:", data_diri)
print("Nama saya:", data_diri["nama"])
print("Usia saya sekarang:", data_diri["usia"], "tahun")
data_diri["usia"] = 20  # mengubah nilai dalam dictionary
print("Usia setelah ulang tahun:", data_diri["usia"])
print("Tipe data:", type(data_diri))
print("\n")

- INTEGER -
Usia saya: 21 tahun
Jumlah buku di rak: 57
Kecepatan mobil di tol: 80 km/jam
Tipe data: <class 'int'>


- FLOAT -
Berat badan saya: 55.6 kg
Panjang meja belajar: 1.75 meter
Tipe data: <class 'float'>


- STRING -
Nama lengkap: Nabila
Alamat rumah: Jl. Wiguna I No. 5, Surabaya
Pesan motivasi: Belajar phyton itu asik!
Panjang pesan: 24 karakter
Tipe data: <class 'str'>


- BOOLEAN -
Apakah sedang hujan? True
Apakah sudah sarapan? False
Tipe data: <class 'bool'>


- LIST -
Makanan favorit saya: ['Nasi Goreng', 'Sate Ayam', 'Bakso']
Angka sebelum diurutkan: [3, 8, 1, 7, 2]
Angka setelah diurutkan: [1, 2, 3, 7, 8]
List makanan setelah ditambah: ['Nasi Goreng', 'Sate Ayam', 'Bakso', 'Mie Ayam']
Tipe data: <class 'list'>


- TUPLE -
Pilihan warna pakaian saya: ('Hitam', 'Putih', 'Abu-abu')
Tanggal lahir: (15, 'Juli', 2002)
Warna favorit saya: Hitam
Tipe data: <class 'tuple'>


- SET -
Angka unik dalam set: {1, 3, 5, 7, 8}
Hobi yang saya miliki: {'Olahraga', 'Memasak', 'Membaca'}
Set angka setelah ditambah: {1, 3, 5, 7, 8, 10}
Tipe data: <class 'set'>


- DICTIONARY -
Profil saya: {'nama': 'Nabila', 'usia': 19, 'pekerjaan': 'Mahasiswa', 'hobi': ['Belajar', 'Olahraga']}
Nama saya: Nabila
Usia saya sekarang: 19 tahun
Usia setelah ulang tahun: 20
Tipe data: <class 'dict'>

In [ ]:
print("- PERSONAL INFO -")
print("Name:", name)
print("Age:", age, "years old")
print("Weight:", weight, "kg")
print("Hobbies:", hobbies)
print("Favorite Food:", favorite_foods["food"])
print("Favorite Drink:", favorite_foods["drink"], "\n")
print("Contacts:", contacts)
print("Status:", status)

- PERSONAL INFO -
Name: Nabila
Age: 16 years old
Weight: 45.5 kg
Hobbies: ['Reading', 'Watching Movies', 'Cooking']
Favorite Food: Chicken Noodles
Favorite Drink: Iced Tea

Contacts: {'08123456789', '08129876543'}
Status: None

### Basic Arithmetic Operations

In [ ]:
#@title Addition

a = 3
b = 2
c = a+b
print(a)
print(b)
print(c)

3
2
5

In [ ]:
#@title Subtraction

a = 15
b = 10
c = a-b
print(a)
print(b)
print(c)

15
10
5

In [ ]:
#@title Multiplication

a = 10
b = 8
c = a*b
print(a)
print(b)
print(c)

10
8
80

In [ ]:
#@title Division

a = 20
b = 4
c = a/b #(returns a float)
d = a//b #(returns an integer) => menghitung hasilnya saja tanpa sisa
print(a)
print(b)
print(c)
print(d)

20
4
5.0
5

In [ ]:
a = 25
b = 4
c = a/b #hasilnya 6,25 (float / desimal)
d = a//b # 25 dibagi 4 hasilnya 6 sisa 1, maka hasilnya 6 (integer)
print(a)
print(b)
print(c)
print(d)

25
4
6.25
6

In [ ]:
#@title Multiplication

a = 6
b = 2
c = a**b
print(a)
print(b)
print(c)

6
2
36

In [ ]:
#@title Modulus

a = 7
b = 4
c = a%b
print(a)
print(b)
print(c)

7
4
3

### Conditional Statement

In [ ]:
a = 20
if a < 100:
  b = a - 8
elif a == 10:
  b = 10-0
else:
  b = 100

print(b)

12

### Iteration

In [ ]:
for index in range(10): # dari 0 hingga 9 (10-1)
    print("Iteration number: " + str(index))

Iteration number: 0
Iteration number: 1
Iteration number: 2
Iteration number: 3
Iteration number: 4
Iteration number: 5
Iteration number: 6
Iteration number: 7
Iteration number: 8
Iteration number: 9

In [ ]:
for index in range(1, 9): # dari 1 hingga 9
    print("Iteration number: " + str(index))

Iteration number: 1
Iteration number: 2
Iteration number: 3
Iteration number: 4
Iteration number: 5
Iteration number: 6
Iteration number: 7
Iteration number: 8

In [ ]:
for i in range(1, 10, 2): # dari 1 hingga 9 lompat 2
    print(f"Iteration {i}")

Iteration 1
Iteration 3
Iteration 5
Iteration 7
Iteration 9

In [ ]:
for i in range(10, 0, -1): # dari 10 hingga 1 lompat -1
    print(f"Iteration {i}")

Iteration 10
Iteration 9
Iteration 8
Iteration 7
Iteration 6
Iteration 5
Iteration 4
Iteration 3
Iteration 2
Iteration 1

In [ ]:
makanan_fav = ['ayam goreng', 'ramen', 'seblak', 'dimsum']
for makanan in makanan_fav:
    print(f'saya mau makan {makanan}')

saya mau makan ayam goreng
saya mau makan ramen
saya mau makan seblak
saya mau makan dimsum

In [ ]:
biodata = {'nama': 'John Doe', 'usia': 12, 'alamat': 'surabaya'}
for key, value in biodata.items():
    print(f'{key}: {value}')

nama: John Doe
usia: 12
alamat: surabaya

In [ ]:
count = 0
while count < 5:
    print(f"Count: {count}")
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [ ]:
is_running = True
count = 0

while is_running:
    print(f"Count: {count}")
    count += 1

    if count >= 5:
        is_running = False  # Set the boolean to False to stop the loop
        print("Loop stopped.")

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Loop stopped.

### Function

In [ ]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Nabila"))

Hello, Nabila!

### "try-except-pass"

In [ ]:

try:
    # potensi kode yang menghasilkan exception
    x = 5 / 0
except:
    # kode yang akan dieksekusi jika exception terjadi
    print("Terjadi kesalahan!")
    pass

Terjadi kesalahan!

### User Input

In [ ]:
nama = input("Masukkan Nama Anda ")
print("Nama saya " + nama)

In [ ]:
a = 100
while a >= 100:
  print(type(a))
  a = a-50

### Import Module

In [ ]:
import math
print(math.sqrt(16))
print(math.factorial(5))

In [ ]:
from datetime import date
from datetime import datetime

# Date Type Example
today = date.today()
now = datetime.now()

print("- DATE TYPE -")
print("Today's Date:", today)
print("Data Type:", type(today))  # Output: <class 'date'>

print("\n")

print("- DATETIME TYPE -")
print("Current Date and Time:", now)
print("Data Type:", type(now))  # Output: <class 'datetime'>

In [ ]:
import math as mt
print(mt.sqrt(16))
print(mt.factorial(5))

## list manipulation

In [ ]:
# Original
my_list = [1, 2, 3, 4, 5]
print("Original List:", my_list)

# Akses elemen
first_element = my_list[0]  # akses elemen pertama pake index 0
print("First Element:", first_element)

last_element = my_list[-1]  # elemen terakhir index -1
print("Last Element:", last_element)

Original List: [1, 2, 3, 4, 5]
First Element: 1
Last Element: 5

In [ ]:
# Slicing

# List contoh
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Slice dari awal sampe indeks 4 (tapi nggak termasuk indeks 4)
# gampangannya ambil 4 elemen awal
slice1 = my_list[:4]
print(slice1)  # Output: [10, 20, 30, 40]

# Slice dari indeks 5 sampe akhir list
slice2 = my_list[5:]
print(slice2)  # Output: [60, 70, 80, 90, 100]

# Slice dari indeks 2 sampe indeks 6 (tapi nggak termasuk indeks 6)
slice3 = my_list[2:6]
print(slice3)  # Output: [30, 40, 50, 60]

# Slice dengan step: Ambil tiap elemen ke-2 dari indeks 1 sampe 8
slice4 = my_list[1:8:2]
print(slice4)  # Output: [20, 40, 60]

[10, 20, 30, 40]
[60, 70, 80, 90, 100]
[30, 40, 50, 60]
[20, 40, 60, 80]

In [ ]:
# Reverse list pake slicing
reverse_slice = my_list[::-1]
print(reverse_slice)  # Output: [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [ ]:
# Tambah Elemen
my_list.append(6)  # .append
print("List after appending:", my_list)

my_list.insert(2, 7)  # tambah nilai 7 di indeks 2
print("List after inserting:", my_list)

List after appending: [1, 2, 3, 4, 5, 6]
List after inserting: [1, 2, 7, 3, 4, 5, 6]

In [ ]:
# Hapus elemen
my_list.remove(3)  # hapus elemen '3'
print("List after removing 3:", my_list)

removed_element = my_list.pop(1)  # ambil dari list elemen di indeks 1 dan disimpan
print("Removed element:", removed_element)
print("List after popping:", my_list)

List after removing 3: [1, 2, 7, 4, 5, 6]
Removed element: 2
List after popping: [1, 7, 4, 5, 6]

In [ ]:
# Ubah nilai Elements
my_list[0] = 10
print("List after modification:", my_list)

List after modification: [10, 7, 4, 5, 6]

In [ ]:
# Ambil panjang list
list_length = len(my_list)
print("Length of the list:", list_length)

Length of the list: 5

In [ ]:
# Cek elemen
if 4 in my_list:
    print("4 is in the list")
else:
    print("4 is not in the list")

4 is in the list

In [ ]:
# Min max
my_list = [5, 2, 8, 1, 9]
min_value = min(my_list)
max_value = max(my_list)
print("Minimum value:", min_value)
print("Maximum value:", max_value)

Minimum value: 1
Maximum value: 9

In [ ]:
# kombinasi list
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print("Combined list:", combined_list)

Combined list: [1, 2, 3, 4, 5, 6]

In [ ]:
# Sorting
my_list = [5,2,8,1,9]
my_list.sort() #In-place sort (modifies the original list)
print("Sorted List:", my_list)

my_list = [5,2,8,1,9]
sorted_list = sorted(my_list) #Returns a new sorted list, original is not modified
print("Original List:", my_list)
print("Sorted List:", sorted_list)

Sorted List: [1, 2, 5, 8, 9]
Original List: [5, 2, 8, 1, 9]
Sorted List: [1, 2, 5, 8, 9]

In [ ]:
# Reversing
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [9, 1, 8, 2, 5]

In [ ]:
# Copy list
new_list = my_list.copy()
new_list.append(10)
print("Original list:", my_list)
print("Copied list:", new_list)

Original list: [9, 1, 8, 2, 5]
Copied list: [9, 1, 8, 2, 5, 10]

## Comprehension

In [ ]:
# Membuat list angka ganjil dari 1 hingga 10
# lama
angka_ganjil = []
for i in range(11):
  if i%2 == 1: angka_ganjil.append(i)
print(angka_ganjil)

# Baru
angka_ganjil = [i for i in range(11) if i%2 == 1]
print(angka_ganjil)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

In [ ]:
# tanpa if
numbers = [i for i in range(11)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# double if

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# bilangan ganjil yang lebih dari 4
even_numbers_gt_4 = [num for num in numbers if num % 2 == 0 if num > 4]

print(even_numbers_gt_4) # Output: [6, 8, 10]

[6, 8, 10]

In [ ]:
# nested loop

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Transpose the matrix
transposed_matrix = [[row[i] for row in matrix] for i in range(len(matrix[0]))]

transposed_matrix

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
# ada else
numbers = [1, 2, 3, 4, 5, 6]
even_odd = ['genap' if x % 2 == 0 else 'ganjil' for x in numbers]
print(even_odd)

['ganjil', 'genap', 'ganjil', 'genap', 'ganjil', 'genap']

## String manipulation

In [ ]:
# 1. Basic string operations
my_string = "Hello, world!"
print("Original string:", my_string)
print("Length:", len(my_string))
print("Uppercase:", my_string.upper())
print("Lowercase:", my_string.lower())

In [ ]:
sentence = "Lorem ipsum color sit diamet"
print("Capitalize:", sentence.capitalize()) #Capitalize the first letter
print("Title:", sentence.title()) #Capitalize the first letter of each word

In [ ]:
# 2. String slicing
print("First character:", my_string[0])
print("Last character:", my_string[-1])
print("Slice from index 0 to 4:", my_string[0:5]) # from 0 to 4 (5 not included)
print("Slice from index 7 to the end:", my_string[7:]) # from 7 to the end

In [ ]:
# 3. String concatenation
string1 = "Python"
string2 = " is fun!"
combined_string = string1 + string2
print(combined_string)

In [ ]:
# 4. String formatting
name = "Alice"
age = 30
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

In [ ]:
# 5. String methods
sentence = "This is a sample sentence."

# mencari apakah kata/huruf ada di string
print("Find 'sample':", sentence.find("sample"))

# Mengganti kata
print("Replace 'sentence' with 'string':", sentence.replace("sentence", "string"))

In [ ]:
# 6. Splitting list
print("Split the string into words:", sentence.split())

In [ ]:
# 7. String checking
string3 = "12345"
print("Is it all digits?", string3.isdigit())
string4 = "Hello"
print("Is it all alphabets?", string4.isalpha())

In [ ]:
#  8. Removing whitespace
text = "  extra whitespace   "
print("Trimmed string:", text.strip())

# OOP

In [ ]:
class Dog:
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

    def bark(self):
        print("Woof!")

# buat class
my_dog = Dog("Buddy", "Golden Retriever")

# Access the attributes
print(my_dog.name)  # Output: Buddy
print(my_dog.breed) # Output: Golden Retriever

# Call the method
my_dog.bark()  # Output: Woof!

# Change dog name
my_dog.name = "Max"
print(my_dog.name)  # Output: Max

Buddy
Golden Retriever
Woof!
Max

# Testing

In [ ]:
# yang akan diuji

def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

In [ ]:
import unittest

class TestCalculator(unittest.TestCase):

    def test_add(self):
        # Menguji penjumlahan
        self.assertEqual(add(2, 3), 5)
        self.assertEqual(add(-1, 1), 0)
        self.assertEqual(add(0, 0), 0)

    def test_subtract(self):
        # Menguji pengurangan
        self.assertEqual(subtract(5, 3), 2)
        self.assertEqual(subtract(-1, 1), -2)
        self.assertEqual(subtract(0, 0), 0)

if __name__ == "__main__":
    unittest.main()

E
======================================================================
ERROR: /root/ (unittest.loader._FailedTest./root/)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute '/root/'

----------------------------------------------------------------------
Ran 1 test in 0.003s

FAILED (errors=1)

SystemExit: True

/usr/local/lib/python3.11/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)